#wall #tag-3.slick {
  background: url(../images/tag-3.png) no-repeat;
  z-index: 5;
  display: block;
}

.tag-1 {
  background: url(../images/tag-1.png) no-repeat;
  z-index: 7;
  display: none;
}

#wall .parent #tag-5.slick {
  background: url(../images/tag-5.png) no-repeat;
  z-index: 3;
  display: block;
}

